[access]
	inheritFrom = All-Projects
[project]
	description = test only
[access "refs/heads/*"]
	pushMerge = group gerritTest reviewers
	label-Code-Review = -2..+2 group gerritTest reviewers
	submit = group gerritTest reviewers
	exclusiveGroupPermissions = push label-Code-Review submit
	create = group gerritTest reviewers
	push = group gerritTest reviewers
