[access]
	inheritFrom = All-Projects
[project]
	description = test only
[access "refs/heads/*"]
	pushMerge = group gerritTest reviewers
	pushMerge = group replication users
	label-Code-Review = -2..+2 group authorized users
	label-Code-Review = -2..+2 group gerritTest reviewers
	label-Code-Review = -2..+2 group replication users
	submit = group authorized users
	submit = group gerritTest reviewers
	submit = group replication users
	exclusiveGroupPermissions = push label-Code-Review submit
	create = group gerritTest reviewers
	create = group replication users
	push = group gerritTest reviewers
	push = group replication users
